- page_title!('Editando moneda')

#region-monedas.container

  .region
    .page-header
      %h1
        Edit
        %b
          Moneda

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, @moneda, class: 'btn btn-info'
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning'
