- page_title!('Editando moneda')

#region-monedas.container

  .region
    .region-title
      %h1
        Editando
        %b
          moneda

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @moneda, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
