- page_title!('Creando moneda')

#region-monedas

  .region
    .page-header
      %h1
        Crear
        %b
          Moneda

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning'
