- page_title!('Editando number_guide')

#region-number_guides.container

  .region
    .page-header
      %h1
        Edit
        %b
          Numero de Guia

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, @number_guide, class: 'btn btn-info'
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning'
