- page_title!('Creando number_guide')

#region-number_guides.container

  .region
    .page-header
      %h1
        Crear
        %b
          Numero de Guia

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning'
