= form_for @credito, :html => { class: 'form-horizontal', role: 'form' } do |f|

  .form-group
    = f.label :nombre, class: 'col-sm-2 control-label'
    .col-sm-3
      = f.text_field :nombre, class: 'form-control'
  .form-group
    .col-sm-2
    .col-sm-4
      = f.submit 'Guardar', class: 'btn btn-default'


