- page_title!('Editando credito')

#region-creditos.container

  .region
    .page-header 
      %h1
        Edit
        %b
          Credito

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, @credito, class: 'btn btn-info'
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning'
