- page_title!('Editando credito')

#region-creditos.container

  .region
    .region-title
      %h1
        Editando
        %b
          credito

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @credito, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
