#region-creditos.container
  .region
    .region-title
      %h1= page_title!('Creditos')

  .region
    %p
      %b Nombre:
      = @credito.nombre

  .region
    = link_to '<span class="glyphicon glyphicon-edit"></span> Editar'.html_safe, edit_credito_path(@credito), class: 'btn btn-success'
    = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, creditos_path, class: 'btn btn-warning'
