- page_title!('Editando item')

#region-items.container

  .region
    .region-title
      %h1
        Editando
        %b
          item

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @item, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
