- page_title!('Editando unit')

#region-units.container

  .region
    .page-header
      %h1
        Edit
        %b
          Unidad

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, @unit, class: 'btn btn-info btn-sm'
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning btn-sm'
