- page_title!('Creando unit')

#region-units.container

  .region
    .page-header
      %h1
        Crear
        %b
          Unidad

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning btn-sm'
