- page_title!('Editando sender')

#region-senders.container

  .region
    .region-title
      %h1
        Editando
        %b
          sender

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @sender, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
