- page_title!('Editando number_invoice')

#region-number_invoices.container

  .region
    .region-title
      %h1
        Editando
        %b
          number_invoice

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to 'Ver', @number_invoice, class: 'btn btn-info'
      = link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'
