- page_title!('Creando number_invoice')

#region-number_invoices.container

  .region
    .page-header
      %h1
        Crear Numero Factura        
          

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning'
