- page_title!('Editando guide')

#region-guides.container

  .region
    .page-header
      %h1
        %span.glyphicon.glyphicon-sort-by-attributes-alt
        Editar Guia
        %b Remision 
        %small Transportista

  .region
    = render 'form'

  .region
    .admin-controls
      = link_to '<span class="glyphicon glyphicon-eye-open"></span> Ver'.html_safe, @guide, class: 'btn btn-info btn-sm'
      = link_to '<span class="glyphicon glyphicon-arrow-left"></span> Regresar'.html_safe, 'javascript:history.back(-1)', class: 'btn btn-warning btn-sm'
