- page_title!('Editando guide')

#region-guides.container

  .region
    .page-header
      %h1
        %span.glyphicon.glyphicon-sort-by-attributes-alt
        Editar Guia
        %b Remision 
        %small Transportista

  .region
    = render 'form'


