- page_title!('Creando guide')

#region-guides
	
  .region
    .page-header
      %h1
        %span.glyphicon.glyphicon-sort-by-attributes-alt
        Crear Guia Remision
        %b
          Transportista
        = URI('http://www.sunat.gob.pe/w/wapS01Alias?ruc=20519484677')

  .region

    = render 'form'

